{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType string $class}

{block title}
    Košík - Dodací údaje
{/block}

{block contentUp}
    {include './../../../../ContactModule/Component/TopBar/templates/top-bar.latte'}
    {include './../../../../AppModule/Component/Heading/templates/heading.latte', 'allowSearch' => FALSE}
{/block}

{block contentDown}{/block}

{define stepButton}
    <div class="row align-items-center mt-5 {$class}">
        <div class="col-4">
            <a href="{plink :Cart:Cart:deliveryPayment}">
                Zpět na dopravu a platbu
            </a>
        </div>

        <div class="col-8 text-right">
            <a href="{plink :Cart:Cart:thankYou}" class="btn btn-danger btn-lg">
                <i class="fas fa-check mr-2"></i>
                Dokončit objednávku
            </a>
        </div>
    </div>
{/define}

{block content}
    {include './../../../Component/CartStep/templates/cart-step.latte', 'current' => ':Cart:Cart:billing'}

    <form class="container my-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="h2 mb-4">Informace pro dodání zboží</div>

                <div class="p-4 p-md-5 bg-light mb-4">

                    <div class="font-weight-bold mb-3">Kontaktní údaje</div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label">Jméno:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label">Příjmení:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label">E-mail:</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label class="col-md-4 col-form-label">Telefon:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="p-4 p-md-5 bg-light mb-4">

                    <div class="font-weight-bold mb-3">Nákup na firmu</div>

                    <div class="form-group row mb-0">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">
                                    Nakupuji na firmu
                                    <br><span class="small">Zvolte, pokud potřebujete vyplnit IČ, případně DIČ.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-none">
                        <div class="form-group row mt-4">
                            <label class="col-md-4 col-form-label">IČ:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">DIČ:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group row d-flex align-items-center">
                            <label for="" class="col-md-4 col-form-label">Plátce DPH:</label>
                            <div class="col-md-8">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="vat">
                                    <label class="custom-control-label" for="vat">
                                        Jsem plátce DPH
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <label for="" class="col-md-4 col-form-label">Obchodní jméno <span class="small">(volitelné)</span>:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="p-4 p-md-5 bg-light mb-4">

                    <div class="font-weight-bold mb-3">Fakturační údaje</div>

                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label">Ulice a č.p.:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">Obec:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-md-4 col-form-label">PSČ:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>

                    <div class="form-group row mb-0">
                        <label for="" class="col-md-4 col-form-label">Stát:</label>
                        <div class="col-md-8">
                            <select class="custom-select" id="state">
                                <option selected>Česká Republika</option>
                                <option>Slovenská Republika</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="p-4 p-md-5 bg-light mb-4">

                    <div class="font-weight-bold mb-3">Rozdílná dodací adresa</div>

                    <div class="form-group row mb-0">
                        <div class="col-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="address">
                                <label class="custom-control-label" for="address">
                                    Zaslat zboží na jinou adresu
                                    <br><span class="small">Zvolte, pokud jsou rozdílné dodací a fakturační údaje.</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-none">
                        <div class="form-group row mt-4">
                            <label class="col-md-4 col-form-label">Adresát:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Firma, byt, patro <span class="small">(volitelné)</span>:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Ulice a č.p.:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Obec nebo město:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">PSČ:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Stát:</label>
                            <div class="col-md-8">
                                <select class="custom-select" id="state">
                                    <option selected>Česká Republika</option>
                                    <option>Slovenská Republika</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-md-4 col-form-label">Telefon <span class="small">(volitelné)</span>:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="p-4 p-md-5 bg-light mb-4">
                    <div class="form-group row mb-0">
                        <label class="col-md-12 col-form-label mb-3">
                            <span class="font-weight-bold">Ještě něco co bychom měli vědět?</span>
                            <span class="small">(volitelné)</span></label>
                        <div class="col-md-12">
                            <textarea class="form-control" rows="4" placeholder="Zde můžete popsat Váš požadavek"></textarea>
                        </div>
                    </div>
                </div>

                <p class="mt-5 mb-0">
                    Odesláním objednávky souhlasíte s <a href="{plink :Article:Article:detail}" target="_blank">obchodními podmínkami</a>
                    a <a href="{plink :Article:Article:detail}" target="_blank">podmínkami ochrany osobních údajů</a>.
                </p>

                {include stepButton, 'class' => 'd-none d-lg-flex'}
            </div>

            <div class="col-lg-5 mt-5 mt-lg-0">
                {include './../../../Component/CartContent/templates/cart-content.latte'}
            </div>
        </div>

        {include stepButton, 'class' => 'd-flex d-lg-none'}
    </form>
{/block}
