{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}
 
{block title}
    Košík
{/block}

{block contentUp}
    {include './../../../../ContactModule/Component/TopBar/templates/top-bar.latte'}
    {include './../../../../AppModule/Component/Heading/templates/heading.latte', 'allowSearch' => FALSE}
{/block}

{block contentDown}

{/block}

{block content}
    {include './../../../Component/CartStep/templates/cart-step.latte', 'current' => ':Cart:Cart:summary'}

    <div class="container">
        <div class="pt-4 mb-5">
            <h1>Váš nakupní košík</h1>
            <p class="pb-0">Pokud není stanoveno jinak, jsou uvedené ceny včetně DPH.</p>
        </div>

        {include './../../../Component/CartItem/templates/cart-item.latte'}
        
        <div class="row d-flex align-items-center mt-5">
            <div class="col-6">
                <a href="{plink :Homepage:Homepage:summary}">
                    Zpět do obchodu
                </a>
            </div>
            
            <div class="col-6 text-right">
                <a href="{plink :Cart:Cart:deliveryPayment}" class="btn btn-danger btn-lg">
                    Pokračovat v objednávce
                </a>
            </div>
        </div>
    </div>
{/block}