{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType string $class}

{block title}
    Děkujeme za nákup
{/block}

{block contentUp}
    {include './../../../../ContactModule/Component/TopBar/templates/top-bar.latte'}
    {include './../../../../AppModule/Component/Heading/templates/heading.latte', 'allowSearch' => FALSE}
    {include './../../../../AppModule/Component/HorizontalNav/templates/horizontal-nav.latte'}
{/block}

{block contentDown}{/block}

{block content}
    <div class="container py-5">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="h1">Děkujeme za Váš nákup</div>

                <p class="mb-5">
                    Vaše objednávka číslo <span class="font-weight-bold">202000001</span> byla uložena.
                    O dalších podrobnostech Vás budeme informovat na e-mail.
                </p>

                <div class=""></div>

                <div class="mb-5">
                    <div class="h4">Celkem k úhradě: <span class="text-success font-weight-bold">12 043 322,54 Kč</span>
                    </div>
                    <div class="text-dark">Cena bez DPH: 10 032 343,35 Kč</div>
                </div>

                <div class="mb-5">
                    <a href="{plink :Homepage:Homepage:summary}" class="btn btn-danger btn-lg">
                        Zpět do obchodu
                    </a>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                {include './../../../Component/CartContent/templates/cart-content.latte', 'showPrice' => FALSE}
            </div>
        </div>
    </div>
{/block}
