{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="modal frontend fade" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true" id="kontaktni-formular">
    <div class="modal-dialog modal-dialog-centered modal-xl position-relative" role="document">

        <img src="{$baseUrl}/temp/static/img/person/zapletal.png"
             alt=""
             class="position-absolute contact-person"
        >

        <div class="modal-content position-relative">

                <div class="position-absolute" style="right: 15px; top: 0; z-index: 5000">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 4rem; font-weight: normal">&times;</span>
                    </button>
                </div>

            <div class="modal-body p-0 m-0">
                <div class="row">
                    <div class="col-lg-6 pr-lg-0">
                        <div class="bg-light p-5 h-100">
                            <div class="h2 font-weight-bold" id="cta-title">Domluvit se na oslovení</div>
                            <p>Pojďme to rozjet, rádi Vám vše ujasníme.</p>

                            <hr class="mb-5">

                            <div class="h4 mb-3">Přímo nás kontaktujte</div>
                            <div class="mt-2 font-weight-bold h5">
                                <i class="fas fa-phone mr-2"></i> <a href="tel:+420606091125">+420 606 091 125</a>
                            </div>
                            <div class="mt-2 font-weight-bold h5">
                                <i class="fas fa-envelope mr-2"></i> <a href="mailto:zapletal@wakers.cz">zapletal@wakers.cz</a>
                            </div>

                            <hr class="my-5">

                            <div class="h4">
                                Nebo se Vám máme do 30 min. ozvat?
                            </div>

                            <div n:snippet="contactForm">
                                <div class="alert alert-success mt-3" role="alert" style="display: none">
                                    <div class="font-weight-bold h5 mt-2 alert-heading">Děkujeme</div>
                                    <p class="mb-0">Pokud není noc, tak se Vám <strong>do 30 minut</strong> ozveme na uvedený telefon nebo e-mail.</p>
                                </div>

                                <form n:name="contactForm" id="contactForm" class="mt-3">
                                    <div class="form-group mb-0">
                                        <input n:name="contact" class="form-control form-control-lg" id="email" placeholder="Zadejte telefon / e-mail">
                                        <input n:name="cta" id="cta-input">
                                    </div>

                                    <button n:name="send" class="btn btn-pink btn-lg mt-4" id="cta-button" data-ajax-button="true">
                                        Domluvit se na oslovení
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pl-lg-0">
                        <div class="p-5">
                            <div class="h2 font-weight-bold text-pink">Zaregistrovat se</div>
                            <p>Můžete se rovnou zaregistrovat a aplikaci plně využívat.</p>

                            <hr class="mb-4">

                            <div n:snippet="registerForm">
                                <div class="alert alert-success mt-4" role="alert" style="display: none;">
                                    <div class="font-weight-bold h5 mt-2 alert-heading">Registrace dokončena</div>
                                    <p class="mb-0">Doufáme, že Vám naše aplikace dobře poslouží. V případě jakýchkoli otázek jsme tu pro Vás.</p>
                                    <a href="{plink User:login}" class="btn btn-outline-pink btn-lg mt-3 mb-2">
                                        Přihlásit se
                                    </a>
                                </div>

                                <form n:name="registerForm" id="registerForm" class="mt-4">

                                    {foreach $form->getErrors() as $error}
                                        <div class="alert alert-danger mb-3">{$error}</div>
                                    {/foreach}

                                    <div class="form-group">
                                        <label n:name="email">Váš e-mail:</label>
                                        <input n:name="email" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label n:name="password">Vaše nové heslo:</label>
                                        <input n:name="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label n:name="checkPassword">Kontrola hesla:</label>
                                        <input n:name="checkPassword" class="form-control">
                                    </div>

                                    <button n:name="save" class="btn btn-outline-pink btn-lg mt-3" data-ajax-button="true">
                                        Zaregistrovat účet
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>