{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<nav class="navbar navbar-expand-lg navbar-light navbar-horizontal">
    <div class="container py-3 py-lg-0">
        <span class="text-light d-lg-none">Menu</span>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#horizontal-nav" aria-controls="horizontal-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="border-color: white"></span>
        </button>
        <div class="collapse navbar-collapse" id="horizontal-nav">
            <ul class="navbar-nav mt-3 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{plink :App:Category:summary}">Střecha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Hydroizolace</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Spojovací materiál</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Chemie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Zahrada</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Nářadí</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :App:Category:summary}">Ochranné pomůcky</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Služby</a>
                </li>
            </ul>
        </div>
    </div>
</nav>