{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<nav class="navbar navbar-expand-lg navbar-light navbar-horizontal">
    <div class="container py-3 px-3 py-lg-0">
        <span class="text-light d-lg-none">Menu</span>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#horizontal-nav" aria-controls="horizontal-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="border-color: white"></span>
        </button>
        <div class="collapse navbar-collapse" id="horizontal-nav">
            <ul class="navbar-nav mt-3 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{plink :Homepage:Homepage:summary}">
                        <i class="fas fa-home"></i>
                        <span class="ml-2 d-lg-none">Úvod</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{plink :Category:Category:summary}">Kategorie 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{plink :Category:Category:summary}">Kategorie 2</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :Category:Category:summary}">Kategorie 3</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :Category:Category:summary}">Kategorie 4</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :Category:Category:summary}">Kategorie 5</a>
                </li>
            </ul>

            <ul class="navbar-nav mt-3 mt-lg-0 ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{plink :Article:Article:detail}">Obchodní podmínky</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{plink :Contact:Contact:summary}">Kontakty</a>
                </li>
            </ul>
        </div>
    </div>
</nav>