php:
	date.timezone: Europe/Prague
	output_buffering: 4096

application:
    catchExceptions: %NETTE_CATCH_EXCEPTIONS%
    errorPresenter: Error
    mapping:
        *: App\Presenter\*Presenter

http:
    frames: true
    headers:
        X-Powered-By: 'Contactio.app'

tracy:
    email: %MAIL_ADMIN_EMAIL%
    editor: 'phpstorm://open?file=%file&line=%line'
    editorMapping:
        '/in-docker': '/Users/jzaplet/www/contactio.webapp'

session:
	expiration: 6 hours

services:
    # Mailer
    mail.mailer: App\Mailer\Error\TracyMailer(%SMTP_HOST%, %SMTP_PASSWORD%, %SMTP_USERNAME%, %MAIL_ADMIN_NAME%, %MAIL_ADMIN_EMAIL%, %DOMAIN_URL%)
    - App\Mailer\User\UserMailer(%SMTP_HOST%, %SMTP_PASSWORD%, %SMTP_USERNAME%, %MAIL_ADMIN_NAME%, %MAIL_ADMIN_EMAIL%, %DOMAIN_URL%)
    - App\Mailer\ContactModal\ContactModalMailer(%SMTP_HOST%, %SMTP_PASSWORD%, %SMTP_USERNAME%, %MAIL_ADMIN_NAME%, %MAIL_ADMIN_EMAIL%, %DOMAIN_URL%)
    - App\Mailer\SmtpTest\SmtpTestMailer
    - App\Mailer\Campaign\CampaignMailer

    # BreadCrumb
    - App\Component\BreadCrumb\IBreadCrumb

    # User
    - App\Database\Manager\UserManager
    - App\Database\Repository\UserRepository
    - App\Component\User\LoginForm\ILoginForm
    - App\Component\User\NameForm\INameForm
    - App\Component\User\PasswordForm\IPasswordForm
    authenticator: App\Security\Authenticator
    commands.createUser:
        class: App\Console\CreateUserCommand
        tags: [console.command: wakers:create-user]

    # Project
    - App\Storage\ProjectStorage
    - App\Database\Manager\ProjectManager
    - App\Database\Repository\ProjectRepository
    - App\Component\Project\AddModal\IAddModal
    - App\Component\Project\EditModal\IEditModal
    - App\Component\Project\CollaboratorModal\ICollaboratorModal
    - App\Component\Project\Summary\ISummary
    - App\Component\Project\SelectForm\ISelectForm

     # Segment
    - App\Database\Manager\SegmentManager
    - App\Database\Repository\SegmentRepository
    - App\Component\Segment\AddModal\IAddModal
    - App\Component\Segment\EditModal\IEditModal
    - App\Component\Segment\RemoveModal\IRemoveModal
    - App\Component\Segment\Summary\ISummary

    # Contact
    - App\Data\Importer\ImportResolver
    - App\Data\Importer\ImporterJson
    - App\Data\Importer\ImporterXlsx

    - App\Database\Manager\ContactManager
    - App\Database\Repository\ContactRepository
    - App\Component\Contact\AddModal\IAddModal
    - App\Component\Contact\EditModal\IEditModal
    - App\Component\Contact\ImportModal\IImportModal
    - App\Component\Contact\RemoveModal\IRemoveModal
    - App\Component\Contact\Summary\ISummary

    # Smtp
    - App\Database\Manager\SmtpSettingManager
    - App\Database\Repository\SmtpSettingRepository
    - App\Component\SmtpSetting\AddModal\IAddModal
    - App\Component\SmtpSetting\EditModal\IEditModal
    - App\Component\SmtpSetting\RemoveModal\IRemoveModal
    - App\Component\SmtpSetting\Summary\ISummary

    # EmailCampaign
    - App\Database\Manager\EmailCampaignManager
    - App\Database\Repository\EmailCampaignRepository
    - App\Component\EmailCampaign\Summary\ISummary
    - App\Component\EmailCampaign\AddForm\IAddForm
    - App\Component\EmailCampaign\EditForm\IEditForm
    - App\Component\EmailCampaign\TestModal\ITestModal
    - App\Component\EmailCampaign\RemoveModal\IRemoveModal
    - App\Component\EmailCampaign\Stats\IStats
    - App\Component\EmailCampaign\SentEmailSummary\ISentEmailSummary

    # SentEmail
    - App\Database\Manager\SentEmailManager
    - App\Database\Repository\SentEmailRepository

    # RateManaegr
    - App\Database\Manager\RateManager

    # AllowedDays
    - App\Database\Repository\AllowedDayRepository
    - App\Database\Manager\AllowedDayManager
    commands.insertData:
        class: App\Console\InsertDataCommand
        tags: [console.command: wakers:insert-data]

    # Events
    - App\Event\EventSubscriber
    events.dispatcher: Contributte\EventDispatcher\EventDispatcher

    # Router
    router: App\Router\RouterFactory::createRouter

    application.linkGenerator:
        arguments:
            refUrl: Nette\Http\UrlScript(%DOMAIN_URL%)

    # Infinity Sender Loop
    commands.senderLoop:
        class: App\Console\SenderLoopCommand
        tags: [console.command: wakers:start-sender-loop]

    # Frontend ContactModal
    - App\ComponentFront\ContactModal\IContactModal

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    events: Contributte\EventDispatcher\DI\EventDispatcherExtension

events:
    autoload: true
    lazy: false

includes:
    - ./../../vendor/phpstan/phpstan-nette/extension.neon