{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{block content}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-8 col-xl-9">
            {control emailCampaignAddForm}
        </div>
    </div>
</section>
