{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType Doctrine\Common\Collections\ArrayCollection $breadCrumbItems}
{varType App\AppModule\Component\BreadCrumb\Entity\BreadCrumbItem $breadCrumbItem}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb rounded-0 bg-light mb-0">
        <li class="breadcrumb-item">
            <a href="{plink :Homepage:Homepage:summary}">
                <i class="fas fa-home"></i>
            </a>
        </li>

        {foreach $breadCrumbItems as $breadCrumbItem}
            <li class="breadcrumb-item {if $iterator->isLast()}active{/if}">
                {if $iterator->isLast() || $breadCrumbItem->getLink() === NULL}
                    {$breadCrumbItem->getName()}
                {else}
                    <a href="{plink $breadCrumbItem->getLink()}">{$breadCrumbItem->getName()}</a>
                {/if}
            </li>
        {/foreach}
    </ol>
</nav>