{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="cart-item position-relative border mt-4" n:foreach="['PremiumCord DisplayPort 1.2 přípojný kabel M/M, zlacené konektory, 2m', 'Test', 'PremiumCord DisplayPort 1.2'] as $item">

    <a href="#" class="item-remove text-danger">
        <i class="fas fa-times"></i>
    </a>

    <div class="row d-flex align-items-center">
        <div class="col-3 col-sm-auto d-none d-lg-flex">
            <div class="p-0 p-sm-3 bg-light">
                <img src="//placehold.it/80x80" class="img-fluid">
            </div>
        </div>

        <div class="col-12 col-lg-10">
            <div class="row d-flex align-items-center p-3 p-lg-0">

                <div class="col-12 col-xl-3">
                    <a href="{plink :Product:Product:detail}" class="d-flex align-items-center mb-3 mb-xl-0">
                        <img src="//placehold.it/44x44" class="img-fluid mr-3 d-lg-none">
                        <span>{$item}</span>
                    </a>
                </div>

                <div class="col-6 col-md-2 col-xl-2">
                    <div class="quantity-input">
                        <input type="text" min="1" max="97" value="3" style="width: 80px">
                        <div class="control">
                            <span class="increase"><i class="fas fa-chevron-up"></i></span>
                            <span class="decrease"><i class="fas fa-chevron-down"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3 col-lg-3 col-xl-2">
                    <span class="text-success font-weight-bold">Skladem</span> (97&nbsp;ks)
                </div>

                <div class="col-md-7 col-lg-7 col-xl-5">
                    <div class="item-price py-2 px-3 p-md-0 mt-3 mt-md-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-6 col-md-6 col-xl-6">
                                343 223,54 Kč / ks
                            </div>
                            <div class="col-sm-6 col-md-6 col-xl-6 font-weight-bold mt-3 mt-sm-0">
                                <div class="text-success">1 043 223,54 Kč</div>
                                <div class="small">810 243,30 Kč bez 21% DPH</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="mt-5 text-right">
    <div class="h4">
        Celkem k úhradě: <span class="font-weight-bold text-success">12 043 223,54 Kč</span>
    </div>
    <div>
        Cena bez DPH: <span>10 032 343,35 Kč</span>
    </div>
</div>