{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="table-responsive">
    <table n:snippet="summary" class="table table-bordered table-hover table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Název&nbsp;projektu</th>
            <th scope="col">Správci</th>
            <th scope="col">Kontakty</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr n:foreach="$projects as $project">
            <td>{$project->getName()}</td>
            <td>{$project->getUsers()->count()}</td>
            <td>N/A</td>
            <td>
                <div class="d-flex justify-content-end">
                    <a href="{plink projectCollaboratorModal:open! $project->getId(), $project->getSecretKey()}" data-ajax-button="true"
                        class="btn btn-outline-primary btn-sm ml-1" data-tooltip="tooltip" data-placement="left" title="Editovat správce projektu">
                        <i class="fas fa-users-cog"></i>
                    </a>
                    <a href="{plink projectEditModal:open! $project->getId(), $project->getSecretKey()}" data-ajax-button="true"
                       class="btn btn-outline-primary btn-sm ml-1" data-tooltip="tooltip" data-placement="left" title="Editovat projekt">
                        <i class="fas fa-pencil-alt"></i>
                    </a>

                    {if $activeProject && $project->getId() === $activeProject->getId()}
                        <button class="btn btn-primary btn-sm ml-1 disabled" disabled>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </button>
                    {else}
                        <a href="{link selectProject! $project->getId(), $project->getSecretKey()}" data-ajax-button="true"
                           class="btn btn-primary btn-sm ml-1" data-tooltip="tooltip" data-placement="left" title="Přepnout se do projektu">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    {/if}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
