{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType string $fileName}
{varType string $fileNameHash}

{if $fileName === 'backend-build.js' || $fileName === 'frontend-build.js'}
    <script src="{$basePath}/temp/static/js/{$fileNameHash}"></script>
{else}
    <link rel="stylesheet" type="text/css" href="{$basePath}/temp/static/css/{$fileNameHash}">
{/if}