{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="modal fade" id="{$control->getName()}" tabindex="-1" role="dialog" aria-labelledby="{$control->getName()}Title" aria-hidden="true">
    <div n:snippet="form" class="modal-dialog" role="document">
        <form n:name="form" class="modal-content">
            <div class="modal-header">
                <div class="h5 modal-title" id="exampleModalCenterTitle">{*Přidat / *}Editovat kontakt</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light p-4">
                <div class="form-group">
                    <label n:name="name">Název kontaktu:</label>
                    <input n:name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label n:name="segmentId">Zařadit do segmentu:</label>
                    {var $items = $form['segmentId']->items}
                    {if count($items) === 0}
                        <div class="text-danger mb-1">
                            Vytvořte alespoň jeden <a href="{plink Segment:summary}">sgment</a>.
                        </div>
                    {/if}
                    <select n:name="segmentId" class="custom-select"></select>
                </div>
                <div class="form-group">
                    <label n:name="email">E-mail:</label>
                    <input n:name="email" class="form-control" placeholder="email@domena.cz">
                </div>
                <div class="form-group mb-0">
                    <label n:name="phone" class="mb-0">Telefonní číslo:</label>
                    <small class="form-text text-muted mb-1">(musí začínat znaménkem plus, př: <strong>+420 000 000 000</strong>)</small>
                    <input n:name="phone" class="form-control" placeholder="+420 ___ ___ ___">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button n:name="save" type="submit" class="btn btn-primary" data-ajax-button="true">Uložit</button>
            </div>
        </form>
    </div>
</div>
