{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType Doctrine\Common\Collections\ArrayCollection $contacts}
{varType App\Database\Entity\Contact $contact}
{varType Nette\Utils\Paginator $paginator}
{varType int $count}

{define paginator}
    <div class="bg-light p-3 mb-3">
        <div class="row d-flex align-items-center">
            <div class="col-sm-3 small font-weight-bold mb-3 mb-sm-0 text-center text-sm-left">
                Celkem kontaktů: {$count}
                ({($paginator->page-1) * $paginator->getItemsPerPage()} - {$paginator->page * $paginator->getItemsPerPage()})
            </div>
            <div class="col-sm-9">
                {include 'paginator.latte'}
            </div>
        </div>
    </div>
{/define}

<div n:snippet="summary" class="pt-3">
    {include paginator}

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped mb-3">
            <thead>
            <tr>
                <th scope="col">Segment</th>
                <th scope="col">Název</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefon</th>
                <th scope="col">Osloven</th>
                <th scope="col">Naposledy</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$contacts as $contact">
                <td>
                    {if $contact->getSegment()}
                        <span class="badge badge-warning" data-tooltip="tooltip" data-placement="right" title="{$contact->getSegment()->getName()}">
                        #{$contact->getSegment()->getId()}
                    </span>
                    {else}
                        <span class="badge badge-danger" data-tooltip="tooltip" data-placement="right" title="NEZAŘAZENO">
                        NEZAŘAZENO!
                    </span>
                    {/if}
                </td>
                <td>{$contact->getName()}</td>
                <td>{$contact->getEmail()}</td>
                <td>{$contact->getPhone()}</td>
                <td>{$contact->getMessagesCount()}x</td>
                <td>
                    {if $contact->getLastUsage()}
                        {$contact->getLastUsage()|date: 'j.n.Y H:i:s'|replace: ' ', '&nbsp;'|noescape}
                    {else}
                        -
                    {/if}
                </td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a href="{plink contactRemoveModal:open! $contact->getId()}" data-ajax-button="true"
                           class="btn btn-outline-danger btn-sm ml-1" data-tooltip="tooltip" data-placement="left" title="Odstranit kontakt">
                            <i class="fas fa-times"></i>
                        </a>
                        <a href="{plink contactEditModal:open! $contact->getId()}" data-ajax-button="true"
                           class="btn btn-primary btn-sm ml-1" data-tooltip="tooltip" data-placement="left" title="Upravit kontakt">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {include paginator}
</div>
