{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="modal fade" id="{$control->getName()}" tabindex="-1" role="dialog" aria-labelledby="{$control->getName()}Title" aria-hidden="true">
    <div n:snippet="form" class="modal-dialog" role="document">
        <form n:name="form" class="modal-content">
            <div class="modal-header">
                <div class="h5 modal-title" id="{$control->getName()}Title">Test kampaně</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light p-4">
                <div class="form-group mb-0">
                    <label n:name="email">Testovací náhled zprávy odeslat na e-mail:</label>
                    <input n:name="email" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                <button n:name="send" type="submit" class="btn btn-primary" data-ajax-button="true">Odeslat náhled</button>
            </div>
        </form>
    </div>
</div>
