{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{block content}

{* Login & Register buttons *}
<div class="position-absolute w-100 sticky-top">
    <div class="container d-flex justify-content-end pt-3 pt-md-5 navbar-front">
        <div class="navbar-inner" id="navbar" style="display: none">
            <button class="btn btn-outline-light btn-lg" data-toggle="modal" data-target="#kontaktni-formular">
                Zaregistrovat
            </button>
            <a href="{plink User:login}" class="btn btn-outline-light btn-lg">
                Přihlásit
            </a>
        </div>

        <button class="btn btn-lg btn-outline-light" id="navbar-toggler">
            <i class="fas fa-bars"></i>
            <span class="d-none d-sm-inline">Menu</span>
        </button>
    </div>
</div>

{* Main people's problem *}
<headign class="h-100 d-flex justify-content-center align-items-center bg-primary text-white">
    <div class="container">
        <div class="row text-center text-sm-left">
            <div class="col-xl-8">
                <h1 class="display-1 front font-weight-bold mt-3 mb-3 mb-md-4 mb-xl-5">
                    Contactio
                </h1>
                <p class="display-4 front">
                    Oslovte tisíce kontaktů, navažte spolupráci nebo se spojte s&nbsp;klienty <span class="font-weight-bold">na jedno kliknutí</span>.
                </p>

                <button class="btn btn-pink btn-lg mt-3 mt-md-4 mt-xl-5 mr-0 mr-sm-3" data-toggle="modal" data-target="#kontaktni-formular">
                    Oslovit tisíce kontaktů
                </button>

                <button class="btn btn-outline-light btn-lg mt-3 mt-md-4 mt-xl-5" data-scroll-to="#simple-plan">
                    Zobrazit jak to funguje
                </button>
            </div>
        </div>
    </div>
</headign>

{* Simple plan *}
<section class="py-5 py-sm-8 py-md-13" id="simple-plan">
    <div class="container text-center">
        <div class="display-4 front font-weight-normal">
            <h2 class="display-4 front mb-0 mb-md-5">Během pár hodin uvidíte okamžitý efekt.</h2>
        </div>

        <div class="row d-flex align-items-start">
            <div class="col-sm-4 mt-5">
                <img src="{$baseUrl}/temp/static/img/how-it-works/import.svg" alt="" class="w-25 mb-3 mb-md-5">
                <h2 class="h5 front">
                    1. Importujete kontakty
                </h2>
            </div>

            <div class="col-sm-4 mt-5">
                <img src="{$baseUrl}/temp/static/img/how-it-works/emailing.svg" alt="" class="w-25 mb-3 mb-md-5">
                <h2 class="h5 front">
                    2. Kliknutím odešlete tisíce zpráv
                </h2>
            </div>

            <div class="col-sm-4 mt-5">
                <img src="{$baseUrl}/temp/static/img/how-it-works/reaction.svg" alt="" class="w-25 mb-3 mb-md-5">
                <h2 class="h5 front">
                    3. Sledujete průběh a reagujete
                </h2>
            </div>
        </div>

        <button class="btn btn-pink btn-lg mt-5 mt-lg-6" data-toggle="modal" data-target="#kontaktni-formular">
            Oslovit tisíce kontaktů
        </button>
    </div>
</section>

{* Showcase owl & main goals *}
<section class="py-5 py-sm-8 py-md-13 bg-light">
    <div class="container">
        <div class="row d-flex align-items-center">

            <div class="col-md-12 col-lg-6">
                <div class="carousel w-100">
                    <div class="prev"><i class="fas fa-arrow-left"></i></div>
                    <div class="owl-carousel border" id="owl-showcase" data-mfp-owl>

                        {var $images = [
                            ['image' => '1.png', 'title' => 'Přihlášení do aplikace'],
                            ['image' => '2.png', 'title' => 'Výběr projektu'],
                            ['image' => '3.png', 'title' => 'Přehled projektů'],
                            ['image' => '4.png', 'title' => 'Import kontaktů'],
                            ['image' => '5.png', 'title' => 'E-mailové kampaně'],
                            ['image' => '6.png', 'title' => 'Detail pozastavené kampaně'],
                            ['image' => '7.png', 'title' => 'Detail aktivní kampaně'],
                            ['image' => '8.png', 'title' => 'Přehled kontaktů v kampani'],
                            ['image' => '9.png', 'title' => 'Nastavení vlastního STMP serveru']
                        ]}

                        {foreach $images as $image}
                            <a href="{$baseUrl}/temp/static/img/showcase/{$image['image']}" title="{$image['title']}">
                                <img src="{$baseUrl}/temp/static/img/showcase/{$image['image']}" alt="{$image['title']}">
                            </a>
                        {/foreach}
                    </div>
                    <div class="next"><i class="fas fa-arrow-right"></i></div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5 offset-xl-1 mt-5 mt-lg-0">
                <ol class="h3 front mb-0">
                    <li class="mb-3">Neomezený počet kontaktů.</li>
                    <li class="mb-3">Vše je <span class="text-success font-weight-bold">úplně zdarma</span>.</li>
                    <li class="mb-3">Aplikaci pochopíte do 5 minut.</li>
                    <li class="font-weight-bold">
                        Posílání přes vlastní SMTP
                        <i class="fas fa-info-circle small" data-tooltip="tooltip" data-placement="top" title="Možnost odesílání zpráv přes Váš vlastní mail-server může zvýšit doručitelnost."></i>.
                    </li>
                </ol>

                <div class="text-center text-sm-left">
                    <button class="btn btn-pink btn-lg mt-5" data-toggle="modal" data-target="#kontaktni-formular">
                        Oslovit tisíce kontaktů
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{* No limits & Showcase video *}
<section class="py-5 py-sm-8 py-md-13">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="order-1 order-md-0 col-md-5 mt-5 mt-md-0 text-center text-md-left">
                <div class="h3 front">Ultra-snadná e-mailová rozesílka <span class="font-weight-bold">bez omezení</span>, která Vám ušetří čas. Navíc zjistíte, kdo si zprávu přečetl.</div>
                <button class="btn btn-pink btn-lg mt-4 mt-md-5" data-toggle="modal" data-target="#kontaktni-formular">
                    Oslovit tisíce kontaktů
                </button>
            </div>
            <div class="order-0 order-md-1 offset-md-1 col-md-6">
                <div class="d-flex justify-content-center align-items-center bg-light" style="height: 400px">
                    <div>Videoukázka v přípravě</div>
                </div>
                {*<div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/cVEemOmHw9Y"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            frameborder="0"
                            allowfullscreen>
                    </iframe>
                </div>*}
            </div>
        </div>
    </div>
</section>

{* Success - Testimonials *}
<section class="py-5 py-sm-8 py-md-13 bg-light">
    <div class="container text-center">
        <div class="display-4 front mb-0 mb-md-5 text-center">Automatický e-mailing pomůže&nbsp;i&nbsp;Vám.</div>

        {var $testimonials = [
            [
                'name' => 'Ing. Tomáš Koutník, jednatel',
                'image' => 'tom-koutnik.png',
                'message' => 'Díky oslovení 2000 firem jsme v ČR získali desítky klientů během pár dní.'
            ],
            [
                'name' => 'Roman Petrásek, na volné noze',
                'image' => 'roman-petrasek.png',
                'message' => 'Contactio mi šetří spoustu času při hromadném odesílání zpráv.'
            ],
            [
                'name' => 'Jaroslav Hnízdil, frontman kapely',
                'image' => 'jarda-hnizdil.png',
                'message' => 'Je skvělé, když můžeme snadno pozvat naše fanoušky na koncerty.'
            ],
        ]}

        {define testimonial}
            {varType array $testimonial}
            <div class="testimonial bg-white p-5 p-md-5">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-4 text-center">
                        <img src="{$baseUrl}/temp/static/img/person/{$testimonial['image']}" alt="{$testimonial['name']}" class="rounded-circle mr-auto ml-auto">
                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0 text-center text-lg-left">
                        <span class="h5 front font-weight-light font-italic">„{$testimonial['message']}“</span>
                        <p class="pt-3 mb-0 font-weight-bold">{$testimonial['name']}</p>
                    </div>
                </div>
            </div>
        {/define}

        <div class="carousel mt-5 d-lg-none">
            <div class="prev"><i class="fas fa-arrow-left"></i></div>
            <div class="owl-carousel" id="owl-testimonial">
                {foreach $testimonials as $testimonial}
                    {include testimonial 'testimonial' => $testimonial}
                {/foreach}
            </div>
            <div class="next"><i class="fas fa-arrow-right"></i></div>
        </div>
        <div class="row justify-content-center d-none d-lg-flex">
            {foreach $testimonials as $testimonial}
                <div class="col-sm-6 col-md-6 mt-5">
                    {include testimonial 'testimonial' => $testimonial}
                </div>
            {/foreach}
        </div>
    </div>
</section>

{* Failure - Don't drown in emails! *}
<section class="py-5 py-sm-8 py-md-13">
    <div class="container text-center">
        <div class="display-4 front font-weight-normal">
            <div class="display-4 front font-weight-bold text-danger">Neutápějte se v e-mailech!</div>

            <div class="h3 front mt-4 mt-lg-5">
                <strong>Chytře odesílejte</strong> tisíce zpráv a snadno vyhodnocujte jejich efektivitu,<strong class="text-success"> je&nbsp;to&nbsp;zdarma</strong>.
            </div>

            <button class="btn btn-pink btn-lg mt-4 mt-lg-5" data-toggle="modal" data-target="#kontaktni-formular">
                Začít chytře odesílat
            </button>
        </div>
    </div>
</section>

{* You don't have a database yet? *}
<section class="py-5 py-sm-8 py-md-13 bg-primary text-white">
    <div class="container text-center">
        <div class="display-4 front font-weight-normal">
            <div class="display-4 front font-weight-bolder">Že nemáte databázi kontaktů?</div>

            <p class="h3 front mt-4 mt-lg-5 text-white">
                Ať už potřebujete oslovit firmy, instituce, střediska, nebo třeba řemeslníky a architekty.
                Vytáhneme Vám kontakty z portálů <a href="https://www.zlatestranky.cz/firmy" target="_blank" class="text-white text-decoration-underline">zlatestranky.cz</a>,
                <a href="https://www.firmy.cz/" target="_blank" class="text-white text-decoration-underline">firmy.cz</a> a z dalších veřejných rejstříků.
            </p>

            <button class="btn btn-light btn-lg mt-4 mt-lg-5" data-toggle="modal" data-target="#kontaktni-formular" data-cta-text="Požádat o vytažení kontaktů">
                Požádat o vytažení kontaktů
            </button>
        </div>
    </div>
</section>

<footer class="bg-dark text-white position-relative">
    <img src="{$baseUrl}/temp/static/img/person/zapletal.png" alt="Jiří Zapletal | Contactio" class="position-absolute d-none d-sm-block footer">
    <div class="container py-5 py-md-8">
        <div class="row">
            <div class="col-sm-6">
                <div class="h1 text-uppercase font-weight-bold">
                    Kontakty
                </div>
                <p>Rychlá telefonická konzultace Vám ušetří čas.</p>

                <ul class="list-unstyled mt-4">
                    <li class="h4 font-weight-bold mb-2">
                        <i class="fas fa-phone mr-2"></i>
                        <a href="tel:+420606091125" target="_blank" class="text-white text-decoration-underline">+420 606 091 125</a>
                    </li>
                    <li class="h4 font-weight-bold mb-0">
                        <i class="far fa-envelope mr-2"></i>
                        <a href="mailto:zapletal@wakers.cz" target="_blank" class="text-white text-decoration-underline">zapletal@wakers.cz</a>
                    </li>
                </ul>

                <button class="btn btn-outline-light mt-3" data-toggle="modal" data-target="#kontaktni-formular" data-cta-text="Domluvit si konzultaci">
                    Domluvit si konzultaci
                </button>

                <div class="h2 mt-5 mb-1">
                    Jiří Zapletal
                </div>
                <p class="mb-3">Zakladatel a vývojář Contactia.</p>

                <div class="small">
                    Contactio vzniklo pro potřeby všech, kteří potřebují jednoduše oslovit více kontaktů nebo chtějí zefektivnit posílání hromadných e-mailů.
                </div>

                <div class="mt-3">
                    IČO: 01367137, DIČ: neplátce&nbsp;DPH
                </div>

                <div class="mt-4 small">
                    &copy; 2020 Created by Jiří Zapletal | Contactio
                </div>
            </div>
        </div>
    </div>
</footer>


