{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType App\Database\Entity\EmailCampaign $emailCampaign}
{varType App\Database\Entity\SentEmail $sentEmail}
{varType string $linkOpenRate}

{$emailCampaign->getMessage()|noescape}