php:
	date.timezone: Europe/Prague
	output_buffering: 4096

application:
    catchExceptions: %NETTE_CATCH_EXCEPTIONS%
    errorPresenter: Base:Error
    mapping:
        *: App\*Module\Presenter\*Presenter

http:
    frames: true
    headers:
        X-Powered-By: 'Eshopio.app'

tracy:
    email: %MAIL_ADMIN_EMAIL%
    editor: 'phpstorm://open?file=%file&line=%line'
    editorMapping:
        '/in-docker': '/Users/jzaplet/www/eshopio.webapp'

session:
	expiration: 6 hours

services:
    # Mailer
    mail.mailer: App\BaseModule\Mailer\Error\TracyMailer(%SMTP_HOST%, %SMTP_PASSWORD%, %SMTP_USERNAME%, %MAIL_ADMIN_NAME%, %MAIL_ADMIN_EMAIL%, %DOMAIN_URL%)

    # Router
    router: App\AppModule\Router\RouterFactory::createRouter

    application.linkGenerator:
        arguments:
            refUrl: Nette\Http\UrlScript(%DOMAIN_URL%)

extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

includes:
    - ./../../../vendor/phpstan/phpstan-nette/extension.neon

    - ./../../UserModule/config/user.module.neon