extensions:
    doctrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension
    doctrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    doctrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    doctrine.cache: Nettrine\Cache\DI\CacheExtension
    doctrine.migrations: Nettrine\Migrations\DI\MigrationsExtension

doctrine.orm.annotations:
    paths:
        #- %appDir%/AppModule/Database/Entity
        #- %appDir%/BaseModule/Database/Entity
        - %appDir%/UserModule/Database/Entity

doctrine.dbal:
    debug:
        panel: %debugMode%
    connection:
        driver: mysqli
        charset: UTF8
        host: %MYSQL_HOST%
        user: %MYSQL_USER%
        password: %MYSQL_PASSWORD%
        dbname: %MYSQL_DATABASE%

doctrine.orm:
    configuration:
        customStringFunctions:
            date: App\BaseModule\Database\Bundle\Date

doctrine.migrations:
    directory: %appDir%/AppModule/Migration
    namespace: App\AppModule\Migration