{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType bool $allowSearch}

<aside class="bg-white">
    <div class="container py-4">
        <div class="row d-flex align-items-center">
            <div class="col-md-3">
                <a href="{plink :Homepage:Homepage:summary}" class="d-block">
                    <img src="//placehold.it/100x50" alt="Název e-shopu">
                </a>
            </div>
            <div class="col-md-4">
                {if isset($allowSearch) && $allowSearch === TRUE}
                    <form class="input-group mb-0">
                        <input type="text" class="form-control" placeholder="Napište, co hledáte">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary">Hledat</button>
                        </div>
                    </form>
                {/if}
            </div>

            <div class="col-md-5 d-flex align-items-center justify-content-end">
                {if $user->isLoggedIn()}
                    {control userDropdownProfile}
                {else}
                    {control userLoginForm:dropdown}
                {/if}

                <a href="{plink :Cart:Cart:summary}" class="navbar-cart">
                    <div class="basket-icon">
                        <i class="fas fa-shopping-basket fa-2x"></i>
                        <span class="product-counter">9</span>
                    </div>
                    <span class="font-weight-bold">7 999 Kč</span>
                </a>
            </div>
        </div>
    </div>
</aside>