{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{*varType Doctrine\Common\Collections\ArrayCollection $importedEntities}
{varType App\Data\Importer\Base\importedEntity $importedEntity*}

<div class="modal fade" id="{$control->getName()}" tabindex="-1" role="dialog" aria-labelledby="{$control->getName()}Title" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="h5 modal-title" id="{$control->getName()}Title">Importovat kontakty</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light p-4">
                <div class="row">
                    <div n:snippet="form" class="col-lg-6">
                        <form n:name="form">
                            <div class="form-group">
                                <label n:name="segmentId">Přiřadit do segmentu:</label>
                                {var $items = $form['segmentId']->items}
                                {if count($items) === 0}
                                    <div class="text-danger mb-1">
                                        Vytvořte alespoň jeden <a href="{plink Segment:summary}">sgment</a>.
                                    </div>
                                {/if}
                                <select n:name="segmentId" class="custom-select"></select>
                            </div>
                            <div class="form-group mb-0">
                                <label n:name="file">Vyberte <strong>.xlsx / .json</strong> soubor:</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input n:name="file" class="custom-file-input" data-lfv-message-id="import-file-input">
                                        <label n:name="file" class="custom-file-label">Vybrat soubor...</label>
                                    </div>
                                    <div class="input-group-append" id="button-addon3">
                                        <button type="submit" class="btn btn-primary" id="import-button" data-ajax-button="true">
                                            Importovat
                                        </button>
                                    </div>
                                </div>
                                <div id="import-file-input"></div>
                            </div>

                        </form>
                    </div>

                    <div class="col-lg-6 mt-3 mt-lg-0">
                        <div class="bg-warning px-3 py-4">
                            <div class="h5">Upozornění</div>
                            <ul class="list-unstyled mb-0">
                                <li>1. Pouze soubory typu: .json a .xlsx.</li>
                                <li>2. Povinné sloupce/parametry: <strong>name, email</strong> nebo <strong>phone</strong>.</li>
                                <li>3. Maximální velikost souboru je <strong>{App\Data\Importer\ImportResolver::MAX_FILE_SIZE / (1024 * 1024)} MB</strong>.</li>
                                <li>4. Maximální počet záznamů v souboru je <strong>1.000</strong>.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped mt-3 mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Název</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Stav</th>
                        </tr>
                        </thead>
                        <tbody n:snippet="contacts">
                        <tr n:if="$importedEntities->count() === 0">
                            <td colspan="5">Vložte soubor a klikněte na tlačítko <strong>Importovat</strong>.</td>
                        </tr>

                        {foreach $importedEntities as $importedEntity}
                            <tr>
                                <td>{$iterator->getCounter()}</td>
                                <td>{$importedEntity->getName()}</td>
                                <td>{$importedEntity->getEmail()}</td>
                                <td>{$importedEntity->getPhone()}</td>
                                <td>
                                    {if count($importedEntity->getExceptions()) !== 0}
                                        {foreach $importedEntity->getExceptions() as $exception}
                                            <span class="badge badge-danger {if !$iterator->isLast()}mb-1{/if}">{$exception->getMessage()}</span>
                                        {/foreach}
                                    {else}
                                        <span class="badge badge-success">OK</span>
                                    {/if}
                                </td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                {*<button type="button" class="btn btn-primary" data-trigger-click="#import-button">Importovat kontakty</button>*}
            </div>
        </div>
    </div>
</div>
