{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<aside class="bg-light py-1 small">
    <div class="container">
        <i class="fas fa-phone mr-2"></i>
        <a href="tel:+420123456789" target="_blank" class="text-dark mr-4">123 456 789</a>

        <i class="fas fa-envelope mr-2"></i>
        <a href="mailto:jmeno@domena.cz" target="_blank" class="text-dark">jmeno@domena.cz</a>
    </div>
</aside>