{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

{varType App\BaseModule\Presenter\FrontendPresenter $presenter}

{block content}

<div class="container mt-4">
    <section class="mb-5">

        {control breadCrumb}

        <h1 class="mt-4">
            {$presenter->breadCrumb->getLastBreadCrumbItem()->getName()}
        </h1>

        <div class="row">
            <div class="col-md-12 col-lg-8 col-xl-6 mt-4">
                <form class="p-4 p-md-5 bg-light">
                    <div class="form-group row">
                        <label for="email" class="col-md-4 col-form-label">E-mail:</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control" id="email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-md-4 col-form-label">Heslo:</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password-check" class="col-md-4 col-form-label">Heslo znovu:</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="password-check">
                        </div>
                    </div>
                    <div class="form-group">
                        Registrací souhlasíte s <a href="{plink :App:Article:detail}" target="_blank">obchodními podmínkami</a>
                        a <a href="{plink :App:Article:detail}" target="_blank">podmínkami ochrany osobních údajů</a>.
                    </div>
                    <div class="form-group row mb-0">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary">Registrovat</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>