{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<div class="container">
    <div class="h2">Hlavní kategorie produktů</div>
    <div class="row">
        <div class="col-6 col-md-4 col-xxl-3" n:for="$i = 0; $i < 8; $i++">
            <a class="d-block text-dark mt-4" href="{plink :App:Category:summary}">
                <img src="//placehold.it/400x300/eee" alt="" class="img-fluid">
                <div class="h2 bg-light h5 p-3 text-center mb-0">
                    Název hl. kategorie
                </div>
            </a>
        </div>
    </div>
</div>